<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insta-cev</title>
    <link rel="icon"
        href="https://as2.ftcdn.net/v2/jpg/03/33/33/75/1000_F_333337533_qyyQt7ZMi4op9Uza72vDWNU7ZteEfIoL.jpg"
        type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <header class="p-3 mb-2 bg-dark text-white">
        <div class="row text- p-2 pl-5">
            <div class="col-md-6 col-6">
                <!-- <img style="display:inline"src="https://t4.ftcdn.net/jpg/03/33/33/75/240_F_333337533_qyyQt7ZMi4op9Uza72vDWNU7ZteEfIoL.jpg"  alt="logo" /> -->
                <h2 style="display:inline;">Insta-CEV</h2>
            </div>
            <div class=" col-md-6 col-6 my-auto">
                <nav class=" navbar navbar-expand-lg navbar-dark bg-dark mr-auto">
                    <!-- <a class="text-white navbar-brand " href="#"><h6>College Of Engineering Vadakara </h6> </a> -->
                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link " href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    EVENTS
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link .text-warning" href="#">Contact Us</a>
                            </li>
                        </ul>

                    </div>
                </nav>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                   <a href="/logout">log out</a>
      
                    
                    
                  </nav>
            </div>
        </div>
    </header>
    <section class="p-4 bg-info ">
        <div class="container  ">
            <div class="row align-items-center">
                <div class="col-md-6 ">
                    <img src="A S.jpeg" alt="" class="img-fluid">
                  
                </div>
                <div class="col-md-6 ">
                    <h1>College Of Engg. Vadakara</h1>
                    <h3>For cevians and to know CEV</h3>
                    <p>"Campus life is that part of your life that you are going to relive in your memories till you
                        breathe"</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <!-- <div class="container">     -->
        <div class="row">
            <div class="col-md-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="wallpaperflare.com_wallpaper (1).jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="wp5575939-dark-season-3-wallpapers.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="wp6902918-web-series-wallpapers.jpg" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    <!-- </div> -->
    </section>
    <section class="bg-success p-5">
        <div class="container">
            <h1 class="text-center">services</h1>
            <div class="row ">
                <div class="col-md-4 ">
                    <div class=" card text-center p-3 bg-secondary" style="width: 18rem;">

                        <i class="fa-solid fa-images   display-1 text-danger"></i>

                        <!-- <img class="card-img-top" src="" alt="Card image cap"> -->
                        <div class="card-body">
                            <h5 class="card-title">SNAPS</h5>
                            <p class="card-text">post ur snap here</p>
                            <a href="" class="btn btn-danger">Go to student album</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class=" card text-center p-3 bg-secondary" style="width: 18rem;">

                        <i class="fa-solid fa-peace   display-1 text-danger"></i>

                        <!-- <img class="card-img-top" src="" alt="Card image cap"> -->
                        <div class="card-body ">
                            <h5 class="card-title">Quasso Liberum</h5>
                            <p class="card-text">tech-fest</p>
                            <a href="" class="btn btn-danger">go to ql 10</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class=" card text-center p-3 bg-secondary" style="width: 18rem;">

                        <i class="fa-solid fa-user-graduate display-1 text-danger"></i>

                        <!-- <img class="card-img-top" src="" alt="Card image cap"> --> 
                        <div class="card-body">
                            <h5 class="card-title">Awards</h5>
                            <p class="card-text">Total palcements</p>
                            <a href="" class="btn btn-danger">Go to placed list</a>
                        </div>
                    </div>
                </div>
            </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class=" card text-center p-3 bg-secondary" style="width: 18rem;">
    
                            <i class="fa-solid fa-images   display-1 text-danger"></i>
    
                            <!-- <img class="card-img-top" src="" alt="Card image cap"> -->
                            <div class="card-body">
                                <h5 class="card-title">student album</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                    of the card's content.</p>
                                <a href="" class="btn btn-primary">Go to student album</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class=" card text-center p-3 bg-secondary" style="width: 18rem;">
    
                            <i class="fa-solid fa-images   display-1 text-danger"></i>
    
                            <!-- <img class="card-img-top" src="" alt="Card image cap"> -->
                            <div class="card-body">
                                <h5 class="card-title">student album</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                    of the card's content.</p>
                                <a href="" class="btn btn-primary">Go to student album</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class=" card text-center p-3 bg-secondary" style="width: 18rem;">
    
                            <i class="fa-solid fa-images   display-1 text-danger"></i>
    
                            <!-- <img class="card-img-top" src="" alt="Card image cap"> -->
                            <div class="card-body">
                                <h5 class="card-title">student album</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                    of the card's content.</p>
                                <a href="" class="btn btn-primary">Go to student album</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/27760bdabb.js" crossorigin="anonymous"></script>
</body>

</html>